Import statements

In [153]:
import pandas as pd
import numpy as np
import xport.v56
import io
from bs4 import BeautifulSoup
from pandas.compat import StringIO

Needed Functions

In [154]:
# Pull out headers
def headers(htmfile):
    fhnd = open("../Downloads/DEMO_J.htm")
    soup = BeautifulSoup(fhnd, 'html.parser')
    x = soup.find_all('h3')

    headers = []
    for idx in range(len(x)):
        try:
            headers.append(x[idx]['id'])
        except:
            continue
    return headers

In [160]:
# convert XPT to Python-Readable format
def extract_from_rows(library):
    ds = next(iter(library.values()))
    rows = list(ds.itertuples(index=None, name=None))
    fp = io.BytesIO()

    xport.from_rows(rows, fp)
    fp.seek(0)
    x = next(iter(xport.v56.load(fp).values()))
    return x

## Work Below

In [156]:
# extract headers from file
colfilename = "../Downloads/DEMO_J.htm"
names = headers(colfilename)

In [157]:
# extract data
filename = "../Downloads/DEMO_J.XPT"

with open(filename, 'rb') as f:
    library = xport.v56.load(f)
    x = extract_from_rows(library)

In [158]:
# convert to DataFrame
df = pd.DataFrame(x)
df.head()
df.columns = names

In [161]:
# view DataFrame
df.tail()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
9249,102952.0,10.0,2.0,2.0,70.0,NaN,5.0,6.0,2.0,NaN,...,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,4.0,4.0,0.95
9250,102953.0,10.0,2.0,1.0,42.0,NaN,1.0,1.0,2.0,NaN,...,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,12.0,12.0,NaN
9251,102954.0,10.0,2.0,2.0,41.0,NaN,4.0,4.0,1.0,NaN,...,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,10.0,10.0,1.18
9252,102955.0,10.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,175.0,...,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,9.0,9.0,2.24
9253,102956.0,10.0,2.0,1.0,38.0,NaN,3.0,3.0,2.0,NaN,...,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,7.0,7.0,1.56

Print the mean age, separated by gender

In [169]:
print("Average age of females:", df[df['RIAGENDR'] == 1]['RIDAGEYR'].mean())
print("Average age of males:", df[df['RIAGENDR'] == 2]['RIDAGEYR'].mean())

Average age of females: 34.116524028966424
Average age of males: 34.54545454545455

Graph the distribution of weight, separated by gender.

Create a bar graph of mean age of patients based on income

Download the blood pressure dataset and graph the distribution of blood pressure by sex

Download the smoking dataset and graph the distribution of blood pressure by smokers

Test if there is a significant difference in blood pressure between smokers and non-smokers

## Homework

First, download some lab values and examination tests and merge with your dataframe. Remember to Merge on SEQN

The first thing we need to do when we look at a dataset is to visualize what kind of data we have.
Create at least 7 graphs to visualize the data available. Make sure to add titles to the graphs and label the axes.

Another popular analysis is to see how our variables correlate with each other. This can be for quality control checks or just simply to understand our data. Calculate the correlation between age and things like salary

There is a lot of missingess in the data because some patients do not get certain tests done or do not answer certain survey questions. We want to make sure that there is no bias based on missingness -- that is, that the distribution of patients who answer the question does not differ from those who do not answer the question.

Take the Income question on the demographic questionnaire. Code all "Refused", "Don't Know", and "Missing" as "Missing" in this situation. Then compare the distribution of ages between the Missing group and the Non-Missing group. Run a T-test to make sure the mean age of the Missing and Non-Missing group is insignificant.

Now, look for missingness in another variable. Do the same thing as above and compare the distribution of ages between the Missing and Non-Missing groups. Run a T-test to make sure the mean age of the Missing and Non-Missing groups is insignificant.